<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    colors="true"
    convertDeprecationsToExceptions="true"
    verbose="true"
>
    <testsuite name="CodeGenerationUtils tests">
        <directory>./tests/CodeGenerationUtilsTest</directory>
    </testsuite>
    <coverage>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </coverage>
</phpunit>
